.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: transparent;
  background: none;
  position: fixed;
  width: 100vw;
  top: 0;
  margin: 15px;
  margin-top: 5px;
  z-index: 100;
}

.header__logo {
  height: 24px;
  width: 100px;
  margin-top: 7px;
  cursor: pointer;
}

.header__logo > img {
  height: 15px;
  width: 100px;
}

.header__center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.header__center > p {
  margin: 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.header__right {
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
  padding-right: 3vw;
  align-items: center;
}

.header__right > p {
  margin: 10px;
  cursor: pointer;
}

@media (max-width: 1050px) {
  .header__center > p,
  .header__right > p {
    visibility: hidden;
  }
  .header {
    display: flex;
    justify-content: space-between;
  }
}
